<div class="p-grid">
  <div class="p-col-12">
    <div class="p-grid p-justify-center">
      <div class="p-col-8 p-lg-5" style="text-align:center">
        <h1 class="b-title"> Nuestros Servicios</h1>
        <div class="bottom-border"></div>
        <h3 class="b-subtitle">Innovamos soluciones de comunicaciones en el área de Cableado Estructurado Voz y Datos, Redes en Fibra Óptica y Sistemas de conexiones inalámbricas Wifi. </h3>
      </div>
    </div>
    <div class="p-grid p-justify-center" style="padding-top: 30px">
      <div class="p-col-12 p-md-11 p-lg-10">
        <div class="p-grid" style="text-align:center">
          <div class="p-col-11  p-lg-4 box">        <i class="fas fa-ethernet icon"></i><h1 class="md-title"> Cableado estructurado</h1></div>
          <div class="p-col-11  p-lg-4 box">        <i class="fas fa-network-wired icon"></i><h1 class="md-title"> Cableado de fibra óptica</h1></div>
          <div class="p-col-11  p-lg-4 box">        <i class="fas fa-microphone icon"></i>  <h1 class="md-title"> Redes de voz y datos</h1></div>
        </div>
      </div>
      <div class="p-col-12 p-md-11 p-lg-10">
        <div class="p-grid" style="text-align:center">
          <div class="p-col-11   p-lg-4 box">        <i class="fas fa-wifi icon"></i>    <h1 class="md-title"> Redes inalámbricas y enlaces Wifi</h1></div>
          <div class="p-col-11   p-lg-4 box">        <i class="fas fa-bolt icon"></i>    <h1 class="md-title"> Instalación y mantenimiento de Circuito Cerrado de TV (CCTV)</h1></div>
          <div class="p-col-11   p-lg-4 box">        <i class="far fa-keyboard icon"></i><h1 class="md-title"> Instalación y mantenimiento de sistema de control de acceso</h1></div>
        </div>
      </div>
      <div class="p-col-12 p-md-11 p-lg-10">
        <div class="p-grid" style="text-align:center">
          <div class="p-col-11   p-lg-4 box">        <i class="fas fa-camera-retro icon"></i><h1 class="md-title"> Instalación de Cámaras</h1></div>
          <div class="p-col-11   p-lg-4 box">        <i class="fas fa-bell icon"></i><h1 class="md-title"> Sistemas de alarma y monitoreo</h1></div>
          <div class="p-col-11   p-lg-4 box">        <i class="fas fa-fire-extinguisher icon"></i><h1 class="md-title"> Detección de incendio</h1></div>
        </div>
      </div>
    </div>
  </div>



</div>
