<nav class="nav fixed-top" [@navbarCollapse]="navbarHidden?'initial':'final'" >
  <div class="p-col-12" >

    <div class="p-grid p-justify-center navcontainer" style="text-align:center">
      <div class="p-col-2 navbarlogo">
        <a class="navbar-brand brandlogo" href="#home">TECNOPLUS</a>
      </div>
      <div class="p-col-6 navmenuicon">
        <i class="fas fa-bars expandicon" (click)="collapsed = !collapsed" ></i>

      </div>
      <div class="p-col-5 navmenu" style="padding:0.5em !important" [ngClass]="{'collapsed':collapsed ===true}">
        <ul class="nav justify-content-end">
          <li class="nav-item c-box">
            <a class="nav-link c-link" href="#home">Inicio </a>
          </li>
          <li class="nav-item c-box">
            <a class="nav-link c-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item c-box">
            <a class="nav-link c-link" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item c-box">
            <a class="nav-link c-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>



    </div>
  </div>
</nav>

<section id="home" class="section-home">
  <div class="overlay" > </div>

  <div style="display:table;width:100%;height:100%;position:relative;margin-top:50px;margin-bottom:50px">
    <div style="display:table-cell;vertical-align: middle;">
      <div class="p-grid p-justify-center" style="text-align:center;" >
        <div class="p-lg-6  p-md-8  p-col-10">
          <h1 class="h-title"> Seguridad poderosa en la puerta<br /> de tu casa</h1>
          <p class="h-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p> 
        </div>
      </div>
    </div>
  </div>

  <div class="bg-pattern"><img src="assets/background-pattern-2.png"/></div>
</section>
<section  class="section">
  <app-servicios id="servicios"></app-servicios>
</section>
<section class="section">
  <app-nosotros id="nosotros" ></app-nosotros>
</section>

